
body {
    font-family: sans-serif;
}

.section {
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    margin: 5px;
    border: 2px solid black;
    height: 250px;
    box-sizing: border-box;
}

#sidebar {
    width: 20%;
    background-color: #92c1e3;
}

#main {
    width: 57%;
    background-color: #b2e31d32;
}

#ads {
    width: 20%;
    background-color: #9dc4d383;
}
